.navbar-menu{
    display: flex;
    align-items: center;
    gap: 56px;
}

.navbar-menu-item{
    display: flex;
    padding: 5px 12px;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    border: 2px solid rgba(89, 111, 233, 0.75);
    cursor: pointer;
    box-shadow: 0px 0px 12px 0px rgba(89, 111, 233, 0.75);
}

.navbar-menu-item.active{
    background: rgba(89, 111, 233, 0.75);
}

.navbar-menu-item p{
    color: #FFF;
    font-family: "JollyLodger";
    font-size: 32px;
    font-weight: 400;
    line-height: 27px;
}